@media only screen and (max-width: 800px) {
  .home-page {
    font-size: 3.5rem !important;
    line-height: 3.3rem !important;
    font-weight: 500 !important;
  }
  .home-page-footer {
    margin-bottom: 4.5rem !important;
  }

  .home-page > div > span {
    line-height: 65px !important;
  }
}

.home-page-container {
  min-height: 100vh;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background: linear-gradient(to right, rgb(177, 187, 201), #007bff); */
}

.home-page-header {
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 1000; /* Ensure header is on top */
  position: relative; /* Make sure z-index is effective */
}

.home-page {
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 5.5rem;
  font-weight: 500;
  position: relative; /* Ensure z-index takes effect */
  line-height: 80px;
  letter-spacing: var(--heading-letter-spacing);
  background-color: black;
  /* z-index: -1000; */ /* Remove or adjust if needed */
}

.home-page > div > p > span {
  color: var(--section-color);
}

.home-page > div > span {
  line-height: 7rem;
}

.home-page > * {
  position: absolute; /* Stack text elements on top of each other */
  opacity: 1; /* Ensure text is visible */
  /* Removed transition property */
  font-size: 5.5rem; /* Adjust font size as needed */
}


