@media only screen and (max-width: 800px) {
  .navbar-right-options {
    display: none !important;
  }
  .navbar-right-menubar {
    display: block !important;
  }
  .navbar-container {
    position: inherit !important;
    width: 100%;
  }
}

.navbar-container {
  width: 95vw;
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between;
  font-size: 1.2rem;
  position: fixed;
  background-color: white;
  height: 60px;
  top: 20px;
  padding: 20px;
  border-radius: 18px;
  left: 25px;
  margin-top: 10px;
  /* Adding shadow */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); Horizontal offset, vertical offset, blur radius, color */
}

.navbar-left {
  display: flex;
  align-items: center; /* Center the logo vertically */
  margin-left: 20px;
}

.navbar-logo {
  height: 95px; /* Set height for the logo */
  width: auto; /* Maintain aspect ratio */
}

.navbar-link {
  text-decoration: none; /* Remove underline */
  color: #333; /* Set text color */
  font-size: 18px; /* Set font size */
  padding: 10px 20px; /* Add padding */
  margin-top: 50px; /* Add top margin */
  transition: color 0.3s; /* Smooth transition for color change */
}

.navbar-link:hover {
  color: #007bff; /* Change color on hover */
}

.navbar-right-options {
  color: var(--section-grey-color);
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  margin-right: 20px;
  font-weight: 400;
}

.navbar-right-options > a:hover {
  color: var(--section-color) !important;
}

.navbar-right-menubar {
  display: none;
}

.navbar-menu-options {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 10%;
  right: 0%;
  width: 100vw;
  height: 85vh;
  background-color: #121212;
  z-index: 1;
}

.navbar-menu-options > svg {
  font-size: 3rem;
}

