/* components/Skills.css */
.skills-section {
    padding: 20px;
    min-height: 100vh;
    /* background: linear-gradient(to right, rgb(177, 187, 201), #007bff); */
  }
  
  .skills-section h2 {
    font-size: 2rem;
    position: relative;
    top: 100px;
  }
  
  .skills-section ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    top: 100px;
  }
  
  .skills-section li {
    font-size: 1rem;
  }
  